.profile__edit-button {
  width: 24px;
  aspect-ratio: 1/1;
  background-color: black;
  background-image: url(../../../images/pen.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  padding: 0;
}

@media screen and (max-width: 977px) {
  .profile__edit-button {
    width: 18px;
    background-size: 7.5px;
  }
}
