.popup__close-button{
  background-color: #00000000;
  border: 0;
  padding: 0;
  position: relative;
  right: -464px;
  top: -185px;
  transition: opacity 0.2s linear;
  cursor: pointer;
  background-image: url(../../../images/close-button.svg);
  height: 32px;
  width: 32px;
}

.popup__close-button:hover{
  opacity: 0.6
}

@media screen and (max-width: 770px) {
  .popup__close-button{
    right: -283px;
    height: 20px;
    width: 20px;
    background-size: contain;
  }
}
