.form__save-button {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
