.profile {
  width: 100%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 120px 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

@media (max-width: 977px) {
  .profile {
    width: calc(2 * 282px + 17px);
  }
}

@media (max-width: 645px) {
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
