.place__delete-button{
  background-image: url(../../../images/delete-button.png);
  background-color:transparent;
  background-size: contain;
  width: 18px;
  height: 19px;
  border: 0;
  padding: 0;
  transition: opacity 0.2s linear;
  cursor: pointer;
  position: relative;
  top: -344px;
  right: -240px;
}

.place__delete-button:hover{
  opacity: 0.5;
}
