.header {
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 auto 40px;
  padding: 45px 0 41px;
}

/*@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 770px) {
  .header {
    margin: 0 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
    margin: 0 16px 48px;
  }
}
*/
