.profile__title{
  padding: 0 18px 16px 0;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 770px) {
  .profile__title{
    padding: 0 10px 14px 0;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 270px;
  }
}
