.popup__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  align-self: flex-start;
  margin: 0;
  color: #FFFFFF;
  padding-top: 10px;
}
