.footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 977px) {
  .footer {
    width: calc(2 * 282px + 17px);
  }
}

@media screen and (max-width: 645px) {
  .footer {
    width: 320px;
    padding-bottom: 36px;
  }
}
