.form__save-button {
  width: 358px;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin-top: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.form__save-button:hover {
  opacity: 0.8;
}

@media (max-width: 645px) {
  .form__save-button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
  }
}
