.popup__container_type_confirm {
  min-height: 181px;
  padding: 34px 36px 37px;
}

@media (max-width: 645px) {
  .popup__container_type_confirm {
    min-height: 181px;
    padding: 25px 22px;
  }
}
