.place__like-button{
  width: 22px;
  height: 19px;
  background-color: rgba(0,0,0,0);
  border: 0;
  padding: 0;
  transition: opacity 0.2s linear;
  cursor: pointer;
  background-image: url(../../../images/like-button.svg);
}

.place__like-button:hover{
  opacity: 0.5;
}

/*.place__like-button:active{
  background-image: url(../../../images/like-button_active.svg);
  opacity: 1;
}*/
