.profile__job {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 12px 0 0;
}

@media (max-width: 977px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    margin-top: 7px;
  }
}
