.form__input {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  background-color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 8px;
}

.form__input:invalid {
  border-bottom: 1px solid red;
}

.form__input:valid {
  border-bottom: 1px solid green;
}
