.popup__field{
  width: calc(430px - 36px*2);
  margin: auto 36px auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #00000033;
  padding: 0 0 13px 0;
}

@media screen and (max-width: 770px) {
  .popup__field{
    width: calc(282px - 22px*2);
    margin: 0 22px 30px;
  }
}
